name: Test
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.12", "3.13" ]
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: "recursive"
      - uses: actions/setup-python@v6
        name: Set up Python
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Poetry
        run: python -m pip install poetry
      - name: Install Python dependencies
        run: python -m poetry install
      - name: Test
        run: python -m poetry run pytest -svv --cov=bento_beacon --cov-branch --cov-report xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: true
          verbose: true
          token: ${{ secrets.CODECOV_TOKEN }}
